<!-- INPUTS: formAction (1 DB row, all columns) -->

<div name="details" display="block" class="toggle">
  <h3>Here's what others are saying about this bathroom.</h3>
  <p>Name: <span name="name"><%= lav.name %></span></p>
  <p>Vicinity: <span name="vicinity"><%= lav.vicinity %></span></p>
  <p>Overall rating: <span name="voteOverall"><%= lav.voteOverall %></span></p>
  <p>Cleanliness: <span name="voteClean"><%= lav.voteClean %></span></p>
  <p>Easy to find: <span name="voteEasyToFind"><%= lav.voteEasyToFind %></span></p>
  <p><span name="noToiletPaper"><%= lav.noToiletPaper %></span>% of users report NO toilet paper.</p>
  <p><span name="noToiletSeatCovers"><%= lav.noToiletSeatCovers %></span>% of users report NO seat covers.</p>
  <p>Gender specific: <span name="genderSpecific"><%= lav.genderSpecific %></span></p>

  <p>Amenities:</p>
  <p>Resting area: <span name="restingArea"><%= lav.restingArea %></span></p>
  <p>Mother's room: <span name="mothersRoom"><%= lav.mothersRoom %></span></p>
  <p>Baby changing station: <span name="changingStation"><%= lav.changingStation %></span></p>
  <p>Bidet: <span name="bidet"><%= lav.bidet %></span></p>
  <p>Feminine hygiene products: <span name="feminineProducts"><%= lav.feminineProducts %></span></p>
  
  <!-- hidden tags to carry data to client-->
  <p name="id" value="<%= lav.id %>"></p>
  <p name="lat" value="<%= lav.lat %>"></p>
  <p name="lng" value="<%= lav.lng %>"></p>
  <p name="votesTotal" value="<%= lav.votesTotal %>"></p>
  <p name="homeDB" value="<%= lav.homeDB %>"></p>
  
</div>
