<!-- INPUTS: formAction (1 DB row, all columns) -->

<div id="<%= lav.id %>-<%= lav.homedb %>" class="details hideme">
  <h3>Here's what others are saying about this bathroom.</h3>
  <p>Name: <span name="name"><%= lav.name %></span></p>
  <p>Vicinity: <span name="vicinity"><%= lav.vicinity %></span></p>
  <p>Overall rating: <span name="avgtotal"><%= lav.avgtotal %></span></p>
  <p>Cleanliness: <span name="avgclean"><%= lav.avgclean %></span></p>
  <p>Easy to find: <span name="avgeasytofind"><%= lav.avgeasytofind %></span></p>
  <p><span name="notoiletpaper"><%= lav.notoiletpaper %></span>% of users report NO toilet paper.</p>
  <p><span name="notoiletseatcovers"><%= lav.notoiletseatcovers %></span>% of users report NO seat covers.</p>
  <p>Gender specific: <span name="genderspecific"><%= lav.genderspecific %></span></p>

  <p>Amenities:</p>
  <p>Resting area: <span name="restingarea"><%= lav.restingarea %></span></p>
  <p>Mother's room: <span name="mothersroom"><%= lav.mothersroom %></span></p>
  <p>Baby changing station: <span name="changingstation"><%= lav.changingstation %></span></p>
  <p>Bidet: <span name="bidet"><%= lav.bidet %></span></p>
  <p>Feminine hygiene products: <span name="feminineproducts"><%= lav.feminineproducts %></span></p>
  
  <!-- hidden tags to carry data to client-->
  <p name="lat" value="<%= lav.lat %>"></p>
  <p name="lng" value="<%= lav.lng %>"></p>
  <p name="homedb" value="<%= lav.homedb %>"></p>
  <p name="votestotal" value="<%= lav.votestotal %>"></p>
  
  <h4 class="userupdate clickme">Rate This Lav</h4>
  <h4 class="userdelete clickme">Delete This Lav</h4>
  <h4 class="cancel clickme">Hide Details</h4>
</div>
