<!DOCTYPE html>
<html>
    <%- include('./../partials/head') %>
<body>
    
    <%- include('./../partials/header') %>

    <% if ( pagename === 'home' ) { %>
        <%- include('./../partials/address-input'); %>
    <% } else if (pagename === 'urhere') { %>
        <%- include('./../partials/map', {lat: lat, lng: lng}); %>
    <% } else if ( pagename === 'searchresults' ) { %>
        <%- include('./../partials/map'); %>
        <%- include('./../partials/form-delete'); %>
        <%- include('./../partials/form-update-add'); %>
    <% } else if (pagename === 'thanks') { %>
        <%- include('./../partials/thanks'); %>
    <% } else { %>
        <h3>ERROR: No pagename defined.</h3>
    <% } %>
    <%- include('./../partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/scripts/app.js"></script> 
    <script async defer src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH6erLkHqP8j2oVBdITfX_SKBOAVXU55A&callback=initMap"
    async defer></script>
</body>
</html>