<!DOCTYPE html>
<html>
    <%- include('./../partials/head') %>
<body>
    
    <%- include('./../partials/header') %>

    <% if ( pagename === 'home' ) { %>
        <%- include('./../partials/address-input'); %>
    <% } else if ( pagename === 'searchresults' ) { %>
        <%- include('./../partials/map'); %>
        <%- include('./../partials/form-delete'); %>
        <%- include('./../partials/form-update-add'); %>
    <% } else if (pagename === 'thanks') { %>
        <%- include('./../partials/thanks'); %>
    <% } else { %>
        <h3>ERROR: No pagename defined.</h3>
    <% } %>
    <%- include('./../partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/scripts/app.js"></script> 
</body>
</html>